[user]
	email = me@viktorstanchev.com
	name = Viktor Stanchev
[push]
    default = current
[pull]
    ff = only
[core]
	editor = nvim
	autocrlf = input
    excludesfile = /home/v/dotfiles/configs/gitignore_global
[color]
    ui = true
[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[url "git@github.com:"]
	insteadOf = https://github.com/
[http "https://gopkg.in"]
    followRedirects = true
[diff]
    renameLimit = 653
[lfs]
    allowincompletepush = true
